## Task 1

Створіть дата фрейм розміром 15х5, що містить наступні дані:
1. Ім'я та прізвище студента;
2. Середній бал;
3. Оцінка за поточний екзамен;
4. Кількість спроб здачі поточного екзамену

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [12]:
list_for_db = [['Ольга','Браун',9.5, 12, 3],['Світлана','Кметь',6.6, 6, 2],['Марина','Єфтені',8.2, 10, 1],
               ['Вадим','Залозний',11.6, 12, 2],
               ['Олександр','Брем',7.4, 8, 2],['Віталій','Клочко',9.8, 9,1],
               ['Петро','Малиновський',5.9, 6, 1],['Роман','Гагарін',7.7, 9, 4],['Денис','Поль',9.9, 12, 3],
               ['Йопта','Круз',8.9, 8, 2],['Жорж','Скид',10.5, 12, 2],['Тетяна','Бобо',9.1, 11, 3],['Олена','Хруст',6.7, 10, 5],
               ['Кирил','Кожумяка',9.3, 9, 4],['Тоня','Братиславська',7.5, 11, 6]]
df = pd.DataFrame(list_for_db, columns=['Name','SName','GPA','CurentS','Attempts'])

In [13]:
df

         Name          SName   GPA  CurentS  Attempts
0       Ольга          Браун   9.5       12         3
1    Світлана          Кметь   6.6        6         2
2      Марина         Єфтені   8.2       10         1
3       Вадим       Залозний  11.6       12         2
4   Олександр           Брем   7.4        8         2
5     Віталій         Клочко   9.8        9         1
6       Петро   Малиновський   5.9        6         1
7       Роман        Гагарін   7.7        9         4
8       Денис           Поль   9.9       12         3
9       Йопта           Круз   8.9        8         2
10       Жорж           Скид  10.5       12         2
11     Тетяна           Бобо   9.1       11         3
12      Олена          Хруст   6.7       10         5
13      Кирил       Кожумяка   9.3        9         4
14       Тоня  Братиславська   7.5       11         6

In [14]:
df.size

75

## Task 2

Додайте до датафрейму стовпчик, що містить дані про допуск студента на наступний курс.

In [15]:
df['Allow'] = np.array(['Y','N','Y','N','N','N','Y','Y','N','N','N','Y','N','N','Y',])
df

         Name          SName   GPA  CurentS  Attempts Allow
0       Ольга          Браун   9.5       12         3     Y
1    Світлана          Кметь   6.6        6         2     N
2      Марина         Єфтені   8.2       10         1     Y
3       Вадим       Залозний  11.6       12         2     N
4   Олександр           Брем   7.4        8         2     N
5     Віталій         Клочко   9.8        9         1     N
6       Петро   Малиновський   5.9        6         1     Y
7       Роман        Гагарін   7.7        9         4     Y
8       Денис           Поль   9.9       12         3     N
9       Йопта           Круз   8.9        8         2     N
10       Жорж           Скид  10.5       12         2     N
11     Тетяна           Бобо   9.1       11         3     Y
12      Олена          Хруст   6.7       10         5     N
13      Кирил       Кожумяка   9.3        9         4     N
14       Тоня  Братиславська   7.5       11         6     Y

## Task 3

Виведіть мінімальній, максимальний та середній та медіанний показники середнього балу студентів

In [26]:
print('мінімальній показник: ',df['GPA'].min())
print('максимальний показник: ',df['GPA'].max())
print('середній показник: ',round(df['GPA'].mean(),2))
print('медіанний показник: ',df['GPA'].median())

мінімальній показник:  5.9
максимальний показник:  11.6
середній показник:  8.57
медіанний показник:  8.9

## Task 4

Виведіть кількість студентів, що здали поточний екзамен з першого разу.

In [32]:
print('кількість студентів, що здали поточний екзамен з першого разу: ',len(df[df['Attempts']==1]))

кількість студентів, що здали поточний екзамен з першого разу:  3

## Task 5

Збережітьбудь-які данні з датафрейму у вигляді серії

In [17]:
name = df.loc[:,'Name']
name

0         Ольга
1      Світлана
2        Марина
3         Вадим
4     Олександр
5       Віталій
6         Петро
7         Роман
8         Денис
9         Йопта
10         Жорж
11       Тетяна
12        Олена
13        Кирил
14         Тоня
Name: Name, dtype: object